<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.bruce.general.mysql.TblOfflineReqMapper" >

    <resultMap id="BaseResultMap" type="com.zhang.bruce.riskgod.business.TblOfflineReq" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="REQ_ID" property="reqId" jdbcType="VARCHAR" />
        <result column="SEQ_ID" property="seqId" jdbcType="VARCHAR" />
        <result column="RID" property="rid" jdbcType="VARCHAR" />
        <result column="PROD" property="prod" jdbcType="VARCHAR" />
        <result column="BIZ" property="biz" jdbcType="VARCHAR" />
        <result column="BNK_ID" property="bnkId" jdbcType="VARCHAR" />
        <result column="CRD_NO" property="crdNo" jdbcType="VARCHAR" />
        <result column="CRD_TYP" property="crdTyp" jdbcType="VARCHAR" />
        <result column="AMT" property="amt" jdbcType="DECIMAL" />
        <result column="PAY_ID" property="payId" jdbcType="VARCHAR" />
        <result column="MEC_NO" property="mecNo" jdbcType="VARCHAR" />
        <result column="USR_IP" property="usrIp" jdbcType="VARCHAR" />
        <result column="OCC_TM" property="occTm" jdbcType="TIMESTAMP" />
        <result column="GOODS_IF" property="goodsIf" jdbcType="LONGVARCHAR" />
        <result column="REQ_IF" property="reqIf" jdbcType="LONGVARCHAR" />
        <result column="RTS_TM" property="rtsTm" jdbcType="INTEGER" />
        <result column="RTS_RETDESC" property="rtsRetdesc" jdbcType="VARCHAR" />
        <result column="RLSB_TM" property="rlsbTm" jdbcType="INTEGER" />
        <result column="RLSB_RETDESC" property="rlsbRetdesc" jdbcType="VARCHAR" />
        <result column="RLSW_TM" property="rlswTm" jdbcType="INTEGER" />
        <result column="RLSW_RETDESC" property="rlswRetdesc" jdbcType="VARCHAR" />
        <result column="RDS_TM" property="rdsTm" jdbcType="INTEGER" />
        <result column="RDS_RETDESC" property="rdsRetdesc" jdbcType="VARCHAR" />
        <result column="DOORGOD_TM" property="doorgodTm" jdbcType="INTEGER" />
        <result column="DOORGOD_RETDESC" property="doorgodRetdesc" jdbcType="VARCHAR" />
        <result column="DOORGOD_RETCODE" property="doorgodRetcode" jdbcType="VARCHAR" />
        <result column="PREPARE_TM" property="prepareTm" jdbcType="INTEGER" />
        <result column="CHK_TM" property="chkTm" jdbcType="INTEGER" />
        <result column="RK_IP" property="rkIp" jdbcType="VARCHAR" />
        <result column="SUB_SYS" property="subSys" jdbcType="VARCHAR" />
        <result column="PREPARE_RETDESC" property="prepareRetdesc" jdbcType="VARCHAR" />
        <result column="RLSG_TM" property="rlsgTm" jdbcType="INTEGER" />
        <result column="RGS_TM" property="rgsTm" jdbcType="INTEGER" />
        <result column="RLSG_RETDESC" property="rlsgRetdesc" jdbcType="VARCHAR" />
        <result column="RGS_RETDESC" property="rgsRetdesc" jdbcType="VARCHAR" />
        <result column="CHK_RETDESC" property="chkRetdesc" jdbcType="VARCHAR" />
        <result column="RBS_RETDESC" property="rbsRetdesc" jdbcType="VARCHAR" />
        <result column="RBS_TM" property="rbsTm" jdbcType="INTEGER" />
        <result column="RETCODE" property="retcode" jdbcType="VARCHAR" />
        <result column="BANGSUN_TRIGERRULE" property="bangsunTrigerrule" jdbcType="VARCHAR" />
        <result column="MERCHANT_RETCODE" property="merchantRetcode" jdbcType="VARCHAR" />
        <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
        <result column="ORDER_TM" property="orderTm" jdbcType="TIMESTAMP" />
        <result column="CURRENCY_TYPE" property="currencyType" jdbcType="VARCHAR" />
        <result column="POS_TERMINAL_NO" property="posTerminalNo" jdbcType="VARCHAR" />
        <result column="POS_REQUEST_NO" property="posRequestNo" jdbcType="VARCHAR" />
        <result column="POS_BATCH_NO" property="posBatchNo" jdbcType="VARCHAR" />
        <result column="POS_NETWORK_NO" property="posNetworkNo" jdbcType="VARCHAR" />
        <result column="POS_OPERATOR" property="posOperator" jdbcType="VARCHAR" />
        <result column="CARD_MATERIAL" property="cardMaterial" jdbcType="VARCHAR" />
        <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
        <result column="TRADE_PRODUCT" property="tradeProduct" jdbcType="VARCHAR" />
        <result column="OPERATE_SE_CODE" property="operateSeCode" jdbcType="VARCHAR" />
        <result column="PASSWORD_TYPE" property="passwordType" jdbcType="VARCHAR" />
        <result column="GOODS_CODE" property="goodsCode" jdbcType="VARCHAR" />
        <result column="CT_TM" property="ctTm" jdbcType="TIMESTAMP" />
        <result column="MF_TM" property="mfTm" jdbcType="TIMESTAMP" />
        <result column="IF_ENCRY" property="ifEncry" jdbcType="VARCHAR" />
        <result column="PAY_RESULT" property="payResult" jdbcType="VARCHAR" />
        <result column="PAY_TM" property="payTm" jdbcType="TIMESTAMP" />
        <result column="PAY_CD" property="payCd" jdbcType="VARCHAR" />
        <result column="SYN_ERR_CD" property="synErrCd" jdbcType="VARCHAR" />
        <result column="BANK_SEQ" property="bankSeq" jdbcType="VARCHAR" />
        <result column="BANK_ORDERNO" property="bankOrderno" jdbcType="VARCHAR" />
        <result column="FRP_CODE" property="frpCode" jdbcType="VARCHAR" />
        <result column="ORIG_PAY_TID" property="origPayTid" jdbcType="VARCHAR" />
        <result column="BANK_ERROR" property="bankError" jdbcType="VARCHAR" />
        <result column="POSP_RESP_CODE" property="pospRespCode" jdbcType="VARCHAR" />
        <result column="CORE_PLAT_OD_ST" property="corePlatOdSt" jdbcType="VARCHAR" />
        <result column="BANK_MERCHANT_NO" property="bankMerchantNo" jdbcType="VARCHAR" />
        <result column="ACQUIRER_BANK" property="acquirerBank" jdbcType="VARCHAR" />
        <result column="BANK_PRODUCT_CODE" property="bankProductCode" jdbcType="VARCHAR" />
        <result column="BANK_INTF_ID" property="bankIntfId" jdbcType="VARCHAR" />
        <result column="AREA32_MSG" property="area32Msg" jdbcType="VARCHAR" />
        <result column="AREA32_CODE" property="area32Code" jdbcType="VARCHAR" />
        <result column="A_CT_TM" property="aCtTm" jdbcType="TIMESTAMP" />
        <result column="A_MF_TM" property="aMfTm" jdbcType="TIMESTAMP" />
        <result column="ETLTASKID" property="etltaskid" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, REQ_ID, SEQ_ID, RID, PROD, BIZ, BNK_ID, CRD_NO, CRD_TYP, AMT, PAY_ID, MEC_NO,
        USR_IP, OCC_TM, GOODS_IF, REQ_IF, RTS_TM, RTS_RETDESC, RLSB_TM, RLSB_RETDESC, RLSW_TM,
        RLSW_RETDESC, RDS_TM, RDS_RETDESC, DOORGOD_TM, DOORGOD_RETDESC, DOORGOD_RETCODE,
        PREPARE_TM, CHK_TM, RK_IP, SUB_SYS, PREPARE_RETDESC, RLSG_TM, RGS_TM, RLSG_RETDESC,
        RGS_RETDESC, CHK_RETDESC, RBS_RETDESC, RBS_TM, RETCODE, BANGSUN_TRIGERRULE, MERCHANT_RETCODE,
        ORDER_TYPE, ORDER_TM, CURRENCY_TYPE, POS_TERMINAL_NO, POS_REQUEST_NO, POS_BATCH_NO,
        POS_NETWORK_NO, POS_OPERATOR, CARD_MATERIAL, BANK_CODE, TRADE_PRODUCT, OPERATE_SE_CODE,
        PASSWORD_TYPE, GOODS_CODE, CT_TM, MF_TM, IF_ENCRY, PAY_RESULT, PAY_TM, PAY_CD, SYN_ERR_CD,
        BANK_SEQ, BANK_ORDERNO, FRP_CODE, ORIG_PAY_TID, BANK_ERROR, POSP_RESP_CODE, CORE_PLAT_OD_ST,
        BANK_MERCHANT_NO, ACQUIRER_BANK, BANK_PRODUCT_CODE, BANK_INTF_ID, AREA32_MSG, AREA32_CODE,
        A_CT_TM, A_MF_TM, ETLTASKID
    </sql>
  <select id="selectByReqIdAndMecNo" resultMap="BaseResultMap" parameterType="com.zhang.bruce.riskgod.business.TblOfflineReq" >
       select REQ_ID,MEC_NO,PAY_RESULT from tbl_offline_req
        where REQ_ID = #{reqId}
        and MEC_NO  =#{mecNo}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from tbl_offline_req
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from tbl_offline_req
        where ID = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.zhang.bruce.riskgod.business.TblOfflineReq" >
        insert into tbl_offline_req (ID, REQ_ID, SEQ_ID,
            RID, PROD, BIZ, BNK_ID,
            CRD_NO, CRD_TYP, AMT,
            PAY_ID, MEC_NO, USR_IP,
            OCC_TM, GOODS_IF, REQ_IF,
            RTS_TM, RTS_RETDESC, RLSB_TM,
            RLSB_RETDESC, RLSW_TM, RLSW_RETDESC,
            RDS_TM, RDS_RETDESC, DOORGOD_TM,
            DOORGOD_RETDESC, DOORGOD_RETCODE, PREPARE_TM,
            CHK_TM, RK_IP, SUB_SYS,
            PREPARE_RETDESC, RLSG_TM, RGS_TM,
            RLSG_RETDESC, RGS_RETDESC, CHK_RETDESC,
            RBS_RETDESC, RBS_TM, RETCODE,
            BANGSUN_TRIGERRULE, MERCHANT_RETCODE, ORDER_TYPE,
            ORDER_TM, CURRENCY_TYPE, POS_TERMINAL_NO,
            POS_REQUEST_NO, POS_BATCH_NO, POS_NETWORK_NO,
            POS_OPERATOR, CARD_MATERIAL, BANK_CODE,
            TRADE_PRODUCT, OPERATE_SE_CODE, PASSWORD_TYPE,
            GOODS_CODE, CT_TM, MF_TM,
            IF_ENCRY, PAY_RESULT, PAY_TM,
            PAY_CD, SYN_ERR_CD, BANK_SEQ,
            BANK_ORDERNO, FRP_CODE, ORIG_PAY_TID,
            BANK_ERROR, POSP_RESP_CODE, CORE_PLAT_OD_ST,
            BANK_MERCHANT_NO, ACQUIRER_BANK, BANK_PRODUCT_CODE,
            BANK_INTF_ID, AREA32_MSG, AREA32_CODE,
            A_CT_TM, A_MF_TM, ETLTASKID
            )
        values (#{id,jdbcType=BIGINT}, #{reqId,jdbcType=VARCHAR}, #{seqId,jdbcType=VARCHAR},
            #{rid,jdbcType=VARCHAR}, #{prod,jdbcType=VARCHAR}, #{biz,jdbcType=VARCHAR}, #{bnkId,jdbcType=VARCHAR},
            #{crdNo,jdbcType=VARCHAR}, #{crdTyp,jdbcType=VARCHAR}, #{amt,jdbcType=DECIMAL},
            #{payId,jdbcType=VARCHAR}, #{mecNo,jdbcType=VARCHAR}, #{usrIp,jdbcType=VARCHAR},
            #{occTm,jdbcType=TIMESTAMP}, #{goodsIf,jdbcType=LONGVARCHAR}, #{reqIf,jdbcType=LONGVARCHAR},
            #{rtsTm,jdbcType=INTEGER}, #{rtsRetdesc,jdbcType=VARCHAR}, #{rlsbTm,jdbcType=INTEGER},
            #{rlsbRetdesc,jdbcType=VARCHAR}, #{rlswTm,jdbcType=INTEGER}, #{rlswRetdesc,jdbcType=VARCHAR},
            #{rdsTm,jdbcType=INTEGER}, #{rdsRetdesc,jdbcType=VARCHAR}, #{doorgodTm,jdbcType=INTEGER},
            #{doorgodRetdesc,jdbcType=VARCHAR}, #{doorgodRetcode,jdbcType=VARCHAR}, #{prepareTm,jdbcType=INTEGER},
            #{chkTm,jdbcType=INTEGER}, #{rkIp,jdbcType=VARCHAR}, #{subSys,jdbcType=VARCHAR},
            #{prepareRetdesc,jdbcType=VARCHAR}, #{rlsgTm,jdbcType=INTEGER}, #{rgsTm,jdbcType=INTEGER},
            #{rlsgRetdesc,jdbcType=VARCHAR}, #{rgsRetdesc,jdbcType=VARCHAR}, #{chkRetdesc,jdbcType=VARCHAR},
            #{rbsRetdesc,jdbcType=VARCHAR}, #{rbsTm,jdbcType=INTEGER}, #{retcode,jdbcType=VARCHAR},
            #{bangsunTrigerrule,jdbcType=VARCHAR}, #{merchantRetcode,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR},
            #{orderTm,jdbcType=TIMESTAMP}, #{currencyType,jdbcType=VARCHAR}, #{posTerminalNo,jdbcType=VARCHAR},
            #{posRequestNo,jdbcType=VARCHAR}, #{posBatchNo,jdbcType=VARCHAR}, #{posNetworkNo,jdbcType=VARCHAR},
            #{posOperator,jdbcType=VARCHAR}, #{cardMaterial,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR},
            #{tradeProduct,jdbcType=VARCHAR}, #{operateSeCode,jdbcType=VARCHAR}, #{passwordType,jdbcType=VARCHAR},
            #{goodsCode,jdbcType=VARCHAR}, #{ctTm,jdbcType=TIMESTAMP}, #{mfTm,jdbcType=TIMESTAMP},
            #{ifEncry,jdbcType=VARCHAR}, #{payResult,jdbcType=VARCHAR}, #{payTm,jdbcType=TIMESTAMP},
            #{payCd,jdbcType=VARCHAR}, #{synErrCd,jdbcType=VARCHAR}, #{bankSeq,jdbcType=VARCHAR},
            #{bankOrderno,jdbcType=VARCHAR}, #{frpCode,jdbcType=VARCHAR}, #{origPayTid,jdbcType=VARCHAR},
            #{bankError,jdbcType=VARCHAR}, #{pospRespCode,jdbcType=VARCHAR}, #{corePlatOdSt,jdbcType=VARCHAR},
            #{bankMerchantNo,jdbcType=VARCHAR}, #{acquirerBank,jdbcType=VARCHAR}, #{bankProductCode,jdbcType=VARCHAR},
            #{bankIntfId,jdbcType=VARCHAR}, #{area32Msg,jdbcType=VARCHAR}, #{area32Code,jdbcType=VARCHAR},
            #{aCtTm,jdbcType=TIMESTAMP}, #{aMfTm,jdbcType=TIMESTAMP}, #{etltaskid,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.zhang.bruce.riskgod.business.TblOfflineReq" >
        insert into tbl_offline_req
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="reqId != null" >
                REQ_ID,
            </if>
            <if test="seqId != null" >
                SEQ_ID,
            </if>
            <if test="rid != null" >
                RID,
            </if>
            <if test="prod != null" >
                PROD,
            </if>
            <if test="biz != null" >
                BIZ,
            </if>
            <if test="bnkId != null" >
                BNK_ID,
            </if>
            <if test="crdNo != null" >
                CRD_NO,
            </if>
            <if test="crdTyp != null" >
                CRD_TYP,
            </if>
            <if test="amt != null" >
                AMT,
            </if>
            <if test="payId != null" >
                PAY_ID,
            </if>
            <if test="mecNo != null" >
                MEC_NO,
            </if>
            <if test="usrIp != null" >
                USR_IP,
            </if>
            <if test="occTm != null" >
                OCC_TM,
            </if>
            <if test="goodsIf != null" >
                GOODS_IF,
            </if>
            <if test="reqIf != null" >
                REQ_IF,
            </if>
            <if test="rtsTm != null" >
                RTS_TM,
            </if>
            <if test="rtsRetdesc != null" >
                RTS_RETDESC,
            </if>
            <if test="rlsbTm != null" >
                RLSB_TM,
            </if>
            <if test="rlsbRetdesc != null" >
                RLSB_RETDESC,
            </if>
            <if test="rlswTm != null" >
                RLSW_TM,
            </if>
            <if test="rlswRetdesc != null" >
                RLSW_RETDESC,
            </if>
            <if test="rdsTm != null" >
                RDS_TM,
            </if>
            <if test="rdsRetdesc != null" >
                RDS_RETDESC,
            </if>
            <if test="doorgodTm != null" >
                DOORGOD_TM,
            </if>
            <if test="doorgodRetdesc != null" >
                DOORGOD_RETDESC,
            </if>
            <if test="doorgodRetcode != null" >
                DOORGOD_RETCODE,
            </if>
            <if test="prepareTm != null" >
                PREPARE_TM,
            </if>
            <if test="chkTm != null" >
                CHK_TM,
            </if>
            <if test="rkIp != null" >
                RK_IP,
            </if>
            <if test="subSys != null" >
                SUB_SYS,
            </if>
            <if test="prepareRetdesc != null" >
                PREPARE_RETDESC,
            </if>
            <if test="rlsgTm != null" >
                RLSG_TM,
            </if>
            <if test="rgsTm != null" >
                RGS_TM,
            </if>
            <if test="rlsgRetdesc != null" >
                RLSG_RETDESC,
            </if>
            <if test="rgsRetdesc != null" >
                RGS_RETDESC,
            </if>
            <if test="chkRetdesc != null" >
                CHK_RETDESC,
            </if>
            <if test="rbsRetdesc != null" >
                RBS_RETDESC,
            </if>
            <if test="rbsTm != null" >
                RBS_TM,
            </if>
            <if test="retcode != null" >
                RETCODE,
            </if>
            <if test="bangsunTrigerrule != null" >
                BANGSUN_TRIGERRULE,
            </if>
            <if test="merchantRetcode != null" >
                MERCHANT_RETCODE,
            </if>
            <if test="orderType != null" >
                ORDER_TYPE,
            </if>
            <if test="orderTm != null" >
                ORDER_TM,
            </if>
            <if test="currencyType != null" >
                CURRENCY_TYPE,
            </if>
            <if test="posTerminalNo != null" >
                POS_TERMINAL_NO,
            </if>
            <if test="posRequestNo != null" >
                POS_REQUEST_NO,
            </if>
            <if test="posBatchNo != null" >
                POS_BATCH_NO,
            </if>
            <if test="posNetworkNo != null" >
                POS_NETWORK_NO,
            </if>
            <if test="posOperator != null" >
                POS_OPERATOR,
            </if>
            <if test="cardMaterial != null" >
                CARD_MATERIAL,
            </if>
            <if test="bankCode != null" >
                BANK_CODE,
            </if>
            <if test="tradeProduct != null" >
                TRADE_PRODUCT,
            </if>
            <if test="operateSeCode != null" >
                OPERATE_SE_CODE,
            </if>
            <if test="passwordType != null" >
                PASSWORD_TYPE,
            </if>
            <if test="goodsCode != null" >
                GOODS_CODE,
            </if>
            <if test="ctTm != null" >
                CT_TM,
            </if>
            <if test="mfTm != null" >
                MF_TM,
            </if>
            <if test="ifEncry != null" >
                IF_ENCRY,
            </if>
            <if test="payResult != null" >
                PAY_RESULT,
            </if>
            <if test="payTm != null" >
                PAY_TM,
            </if>
            <if test="payCd != null" >
                PAY_CD,
            </if>
            <if test="synErrCd != null" >
                SYN_ERR_CD,
            </if>
            <if test="bankSeq != null" >
                BANK_SEQ,
            </if>
            <if test="bankOrderno != null" >
                BANK_ORDERNO,
            </if>
            <if test="frpCode != null" >
                FRP_CODE,
            </if>
            <if test="origPayTid != null" >
                ORIG_PAY_TID,
            </if>
            <if test="bankError != null" >
                BANK_ERROR,
            </if>
            <if test="pospRespCode != null" >
                POSP_RESP_CODE,
            </if>
            <if test="corePlatOdSt != null" >
                CORE_PLAT_OD_ST,
            </if>
            <if test="bankMerchantNo != null" >
                BANK_MERCHANT_NO,
            </if>
            <if test="acquirerBank != null" >
                ACQUIRER_BANK,
            </if>
            <if test="bankProductCode != null" >
                BANK_PRODUCT_CODE,
            </if>
            <if test="bankIntfId != null" >
                BANK_INTF_ID,
            </if>
            <if test="area32Msg != null" >
                AREA32_MSG,
            </if>
            <if test="area32Code != null" >
                AREA32_CODE,
            </if>
            <if test="aCtTm != null" >
                A_CT_TM,
            </if>
            <if test="aMfTm != null" >
                A_MF_TM,
            </if>
            <if test="etltaskid != null" >
                ETLTASKID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="reqId != null" >
                #{reqId,jdbcType=VARCHAR},
            </if>
            <if test="seqId != null" >
                #{seqId,jdbcType=VARCHAR},
            </if>
            <if test="rid != null" >
                #{rid,jdbcType=VARCHAR},
            </if>
            <if test="prod != null" >
                #{prod,jdbcType=VARCHAR},
            </if>
            <if test="biz != null" >
                #{biz,jdbcType=VARCHAR},
            </if>
            <if test="bnkId != null" >
                #{bnkId,jdbcType=VARCHAR},
            </if>
            <if test="crdNo != null" >
                #{crdNo,jdbcType=VARCHAR},
            </if>
            <if test="crdTyp != null" >
                #{crdTyp,jdbcType=VARCHAR},
            </if>
            <if test="amt != null" >
                #{amt,jdbcType=DECIMAL},
            </if>
            <if test="payId != null" >
                #{payId,jdbcType=VARCHAR},
            </if>
            <if test="mecNo != null" >
                #{mecNo,jdbcType=VARCHAR},
            </if>
            <if test="usrIp != null" >
                #{usrIp,jdbcType=VARCHAR},
            </if>
            <if test="occTm != null" >
                #{occTm,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsIf != null" >
                #{goodsIf,jdbcType=LONGVARCHAR},
            </if>
            <if test="reqIf != null" >
                #{reqIf,jdbcType=LONGVARCHAR},
            </if>
            <if test="rtsTm != null" >
                #{rtsTm,jdbcType=INTEGER},
            </if>
            <if test="rtsRetdesc != null" >
                #{rtsRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rlsbTm != null" >
                #{rlsbTm,jdbcType=INTEGER},
            </if>
            <if test="rlsbRetdesc != null" >
                #{rlsbRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rlswTm != null" >
                #{rlswTm,jdbcType=INTEGER},
            </if>
            <if test="rlswRetdesc != null" >
                #{rlswRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rdsTm != null" >
                #{rdsTm,jdbcType=INTEGER},
            </if>
            <if test="rdsRetdesc != null" >
                #{rdsRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="doorgodTm != null" >
                #{doorgodTm,jdbcType=INTEGER},
            </if>
            <if test="doorgodRetdesc != null" >
                #{doorgodRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="doorgodRetcode != null" >
                #{doorgodRetcode,jdbcType=VARCHAR},
            </if>
            <if test="prepareTm != null" >
                #{prepareTm,jdbcType=INTEGER},
            </if>
            <if test="chkTm != null" >
                #{chkTm,jdbcType=INTEGER},
            </if>
            <if test="rkIp != null" >
                #{rkIp,jdbcType=VARCHAR},
            </if>
            <if test="subSys != null" >
                #{subSys,jdbcType=VARCHAR},
            </if>
            <if test="prepareRetdesc != null" >
                #{prepareRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rlsgTm != null" >
                #{rlsgTm,jdbcType=INTEGER},
            </if>
            <if test="rgsTm != null" >
                #{rgsTm,jdbcType=INTEGER},
            </if>
            <if test="rlsgRetdesc != null" >
                #{rlsgRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rgsRetdesc != null" >
                #{rgsRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="chkRetdesc != null" >
                #{chkRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rbsRetdesc != null" >
                #{rbsRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rbsTm != null" >
                #{rbsTm,jdbcType=INTEGER},
            </if>
            <if test="retcode != null" >
                #{retcode,jdbcType=VARCHAR},
            </if>
            <if test="bangsunTrigerrule != null" >
                #{bangsunTrigerrule,jdbcType=VARCHAR},
            </if>
            <if test="merchantRetcode != null" >
                #{merchantRetcode,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null" >
                #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="orderTm != null" >
                #{orderTm,jdbcType=TIMESTAMP},
            </if>
            <if test="currencyType != null" >
                #{currencyType,jdbcType=VARCHAR},
            </if>
            <if test="posTerminalNo != null" >
                #{posTerminalNo,jdbcType=VARCHAR},
            </if>
            <if test="posRequestNo != null" >
                #{posRequestNo,jdbcType=VARCHAR},
            </if>
            <if test="posBatchNo != null" >
                #{posBatchNo,jdbcType=VARCHAR},
            </if>
            <if test="posNetworkNo != null" >
                #{posNetworkNo,jdbcType=VARCHAR},
            </if>
            <if test="posOperator != null" >
                #{posOperator,jdbcType=VARCHAR},
            </if>
            <if test="cardMaterial != null" >
                #{cardMaterial,jdbcType=VARCHAR},
            </if>
            <if test="bankCode != null" >
                #{bankCode,jdbcType=VARCHAR},
            </if>
            <if test="tradeProduct != null" >
                #{tradeProduct,jdbcType=VARCHAR},
            </if>
            <if test="operateSeCode != null" >
                #{operateSeCode,jdbcType=VARCHAR},
            </if>
            <if test="passwordType != null" >
                #{passwordType,jdbcType=VARCHAR},
            </if>
            <if test="goodsCode != null" >
                #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="ctTm != null" >
                #{ctTm,jdbcType=TIMESTAMP},
            </if>
            <if test="mfTm != null" >
                #{mfTm,jdbcType=TIMESTAMP},
            </if>
            <if test="ifEncry != null" >
                #{ifEncry,jdbcType=VARCHAR},
            </if>
            <if test="payResult != null" >
                #{payResult,jdbcType=VARCHAR},
            </if>
            <if test="payTm != null" >
                #{payTm,jdbcType=TIMESTAMP},
            </if>
            <if test="payCd != null" >
                #{payCd,jdbcType=VARCHAR},
            </if>
            <if test="synErrCd != null" >
                #{synErrCd,jdbcType=VARCHAR},
            </if>
            <if test="bankSeq != null" >
                #{bankSeq,jdbcType=VARCHAR},
            </if>
            <if test="bankOrderno != null" >
                #{bankOrderno,jdbcType=VARCHAR},
            </if>
            <if test="frpCode != null" >
                #{frpCode,jdbcType=VARCHAR},
            </if>
            <if test="origPayTid != null" >
                #{origPayTid,jdbcType=VARCHAR},
            </if>
            <if test="bankError != null" >
                #{bankError,jdbcType=VARCHAR},
            </if>
            <if test="pospRespCode != null" >
                #{pospRespCode,jdbcType=VARCHAR},
            </if>
            <if test="corePlatOdSt != null" >
                #{corePlatOdSt,jdbcType=VARCHAR},
            </if>
            <if test="bankMerchantNo != null" >
                #{bankMerchantNo,jdbcType=VARCHAR},
            </if>
            <if test="acquirerBank != null" >
                #{acquirerBank,jdbcType=VARCHAR},
            </if>
            <if test="bankProductCode != null" >
                #{bankProductCode,jdbcType=VARCHAR},
            </if>
            <if test="bankIntfId != null" >
                #{bankIntfId,jdbcType=VARCHAR},
            </if>
            <if test="area32Msg != null" >
                #{area32Msg,jdbcType=VARCHAR},
            </if>
            <if test="area32Code != null" >
                #{area32Code,jdbcType=VARCHAR},
            </if>
            <if test="aCtTm != null" >
                #{aCtTm,jdbcType=TIMESTAMP},
            </if>
            <if test="aMfTm != null" >
                #{aMfTm,jdbcType=TIMESTAMP},
            </if>
            <if test="etltaskid != null" >
                #{etltaskid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhang.bruce.riskgod.business.TblOfflineReq" >
        update tbl_offline_req
        <set >
            <if test="reqId != null" >
                REQ_ID = #{reqId,jdbcType=VARCHAR},
            </if>
            <if test="seqId != null" >
                SEQ_ID = #{seqId,jdbcType=VARCHAR},
            </if>
            <if test="rid != null" >
                RID = #{rid,jdbcType=VARCHAR},
            </if>
            <if test="prod != null" >
                PROD = #{prod,jdbcType=VARCHAR},
            </if>
            <if test="biz != null" >
                BIZ = #{biz,jdbcType=VARCHAR},
            </if>
            <if test="bnkId != null" >
                BNK_ID = #{bnkId,jdbcType=VARCHAR},
            </if>
            <if test="crdNo != null" >
                CRD_NO = #{crdNo,jdbcType=VARCHAR},
            </if>
            <if test="crdTyp != null" >
                CRD_TYP = #{crdTyp,jdbcType=VARCHAR},
            </if>
            <if test="amt != null" >
                AMT = #{amt,jdbcType=DECIMAL},
            </if>
            <if test="payId != null" >
                PAY_ID = #{payId,jdbcType=VARCHAR},
            </if>
            <if test="mecNo != null" >
                MEC_NO = #{mecNo,jdbcType=VARCHAR},
            </if>
            <if test="usrIp != null" >
                USR_IP = #{usrIp,jdbcType=VARCHAR},
            </if>
            <if test="occTm != null" >
                OCC_TM = #{occTm,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsIf != null" >
                GOODS_IF = #{goodsIf,jdbcType=LONGVARCHAR},
            </if>
            <if test="reqIf != null" >
                REQ_IF = #{reqIf,jdbcType=LONGVARCHAR},
            </if>
            <if test="rtsTm != null" >
                RTS_TM = #{rtsTm,jdbcType=INTEGER},
            </if>
            <if test="rtsRetdesc != null" >
                RTS_RETDESC = #{rtsRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rlsbTm != null" >
                RLSB_TM = #{rlsbTm,jdbcType=INTEGER},
            </if>
            <if test="rlsbRetdesc != null" >
                RLSB_RETDESC = #{rlsbRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rlswTm != null" >
                RLSW_TM = #{rlswTm,jdbcType=INTEGER},
            </if>
            <if test="rlswRetdesc != null" >
                RLSW_RETDESC = #{rlswRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rdsTm != null" >
                RDS_TM = #{rdsTm,jdbcType=INTEGER},
            </if>
            <if test="rdsRetdesc != null" >
                RDS_RETDESC = #{rdsRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="doorgodTm != null" >
                DOORGOD_TM = #{doorgodTm,jdbcType=INTEGER},
            </if>
            <if test="doorgodRetdesc != null" >
                DOORGOD_RETDESC = #{doorgodRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="doorgodRetcode != null" >
                DOORGOD_RETCODE = #{doorgodRetcode,jdbcType=VARCHAR},
            </if>
            <if test="prepareTm != null" >
                PREPARE_TM = #{prepareTm,jdbcType=INTEGER},
            </if>
            <if test="chkTm != null" >
                CHK_TM = #{chkTm,jdbcType=INTEGER},
            </if>
            <if test="rkIp != null" >
                RK_IP = #{rkIp,jdbcType=VARCHAR},
            </if>
            <if test="subSys != null" >
                SUB_SYS = #{subSys,jdbcType=VARCHAR},
            </if>
            <if test="prepareRetdesc != null" >
                PREPARE_RETDESC = #{prepareRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rlsgTm != null" >
                RLSG_TM = #{rlsgTm,jdbcType=INTEGER},
            </if>
            <if test="rgsTm != null" >
                RGS_TM = #{rgsTm,jdbcType=INTEGER},
            </if>
            <if test="rlsgRetdesc != null" >
                RLSG_RETDESC = #{rlsgRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rgsRetdesc != null" >
                RGS_RETDESC = #{rgsRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="chkRetdesc != null" >
                CHK_RETDESC = #{chkRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rbsRetdesc != null" >
                RBS_RETDESC = #{rbsRetdesc,jdbcType=VARCHAR},
            </if>
            <if test="rbsTm != null" >
                RBS_TM = #{rbsTm,jdbcType=INTEGER},
            </if>
            <if test="retcode != null" >
                RETCODE = #{retcode,jdbcType=VARCHAR},
            </if>
            <if test="bangsunTrigerrule != null" >
                BANGSUN_TRIGERRULE = #{bangsunTrigerrule,jdbcType=VARCHAR},
            </if>
            <if test="merchantRetcode != null" >
                MERCHANT_RETCODE = #{merchantRetcode,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null" >
                ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="orderTm != null" >
                ORDER_TM = #{orderTm,jdbcType=TIMESTAMP},
            </if>
            <if test="currencyType != null" >
                CURRENCY_TYPE = #{currencyType,jdbcType=VARCHAR},
            </if>
            <if test="posTerminalNo != null" >
                POS_TERMINAL_NO = #{posTerminalNo,jdbcType=VARCHAR},
            </if>
            <if test="posRequestNo != null" >
                POS_REQUEST_NO = #{posRequestNo,jdbcType=VARCHAR},
            </if>
            <if test="posBatchNo != null" >
                POS_BATCH_NO = #{posBatchNo,jdbcType=VARCHAR},
            </if>
            <if test="posNetworkNo != null" >
                POS_NETWORK_NO = #{posNetworkNo,jdbcType=VARCHAR},
            </if>
            <if test="posOperator != null" >
                POS_OPERATOR = #{posOperator,jdbcType=VARCHAR},
            </if>
            <if test="cardMaterial != null" >
                CARD_MATERIAL = #{cardMaterial,jdbcType=VARCHAR},
            </if>
            <if test="bankCode != null" >
                BANK_CODE = #{bankCode,jdbcType=VARCHAR},
            </if>
            <if test="tradeProduct != null" >
                TRADE_PRODUCT = #{tradeProduct,jdbcType=VARCHAR},
            </if>
            <if test="operateSeCode != null" >
                OPERATE_SE_CODE = #{operateSeCode,jdbcType=VARCHAR},
            </if>
            <if test="passwordType != null" >
                PASSWORD_TYPE = #{passwordType,jdbcType=VARCHAR},
            </if>
            <if test="goodsCode != null" >
                GOODS_CODE = #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="ctTm != null" >
                CT_TM = #{ctTm,jdbcType=TIMESTAMP},
            </if>
            <if test="mfTm != null" >
                MF_TM = #{mfTm,jdbcType=TIMESTAMP},
            </if>
            <if test="ifEncry != null" >
                IF_ENCRY = #{ifEncry,jdbcType=VARCHAR},
            </if>
            <if test="payResult != null" >
                PAY_RESULT = #{payResult,jdbcType=VARCHAR},
            </if>
            <if test="payTm != null" >
                PAY_TM = #{payTm,jdbcType=TIMESTAMP},
            </if>
            <if test="payCd != null" >
                PAY_CD = #{payCd,jdbcType=VARCHAR},
            </if>
            <if test="synErrCd != null" >
                SYN_ERR_CD = #{synErrCd,jdbcType=VARCHAR},
            </if>
            <if test="bankSeq != null" >
                BANK_SEQ = #{bankSeq,jdbcType=VARCHAR},
            </if>
            <if test="bankOrderno != null" >
                BANK_ORDERNO = #{bankOrderno,jdbcType=VARCHAR},
            </if>
            <if test="frpCode != null" >
                FRP_CODE = #{frpCode,jdbcType=VARCHAR},
            </if>
            <if test="origPayTid != null" >
                ORIG_PAY_TID = #{origPayTid,jdbcType=VARCHAR},
            </if>
            <if test="bankError != null" >
                BANK_ERROR = #{bankError,jdbcType=VARCHAR},
            </if>
            <if test="pospRespCode != null" >
                POSP_RESP_CODE = #{pospRespCode,jdbcType=VARCHAR},
            </if>
            <if test="corePlatOdSt != null" >
                CORE_PLAT_OD_ST = #{corePlatOdSt,jdbcType=VARCHAR},
            </if>
            <if test="bankMerchantNo != null" >
                BANK_MERCHANT_NO = #{bankMerchantNo,jdbcType=VARCHAR},
            </if>
            <if test="acquirerBank != null" >
                ACQUIRER_BANK = #{acquirerBank,jdbcType=VARCHAR},
            </if>
            <if test="bankProductCode != null" >
                BANK_PRODUCT_CODE = #{bankProductCode,jdbcType=VARCHAR},
            </if>
            <if test="bankIntfId != null" >
                BANK_INTF_ID = #{bankIntfId,jdbcType=VARCHAR},
            </if>
            <if test="area32Msg != null" >
                AREA32_MSG = #{area32Msg,jdbcType=VARCHAR},
            </if>
            <if test="area32Code != null" >
                AREA32_CODE = #{area32Code,jdbcType=VARCHAR},
            </if>
            <if test="aCtTm != null" >
                A_CT_TM = #{aCtTm,jdbcType=TIMESTAMP},
            </if>
            <if test="aMfTm != null" >
                A_MF_TM = #{aMfTm,jdbcType=TIMESTAMP},
            </if>
            <if test="etltaskid != null" >
                ETLTASKID = #{etltaskid,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zhang.bruce.riskgod.business.TblOfflineReq" >
        update tbl_offline_req
        set REQ_ID = #{reqId,jdbcType=VARCHAR},
            SEQ_ID = #{seqId,jdbcType=VARCHAR},
            RID = #{rid,jdbcType=VARCHAR},
            PROD = #{prod,jdbcType=VARCHAR},
            BIZ = #{biz,jdbcType=VARCHAR},
            BNK_ID = #{bnkId,jdbcType=VARCHAR},
            CRD_NO = #{crdNo,jdbcType=VARCHAR},
            CRD_TYP = #{crdTyp,jdbcType=VARCHAR},
            AMT = #{amt,jdbcType=DECIMAL},
            PAY_ID = #{payId,jdbcType=VARCHAR},
            MEC_NO = #{mecNo,jdbcType=VARCHAR},
            USR_IP = #{usrIp,jdbcType=VARCHAR},
            OCC_TM = #{occTm,jdbcType=TIMESTAMP},
            GOODS_IF = #{goodsIf,jdbcType=LONGVARCHAR},
            REQ_IF = #{reqIf,jdbcType=LONGVARCHAR},
            RTS_TM = #{rtsTm,jdbcType=INTEGER},
            RTS_RETDESC = #{rtsRetdesc,jdbcType=VARCHAR},
            RLSB_TM = #{rlsbTm,jdbcType=INTEGER},
            RLSB_RETDESC = #{rlsbRetdesc,jdbcType=VARCHAR},
            RLSW_TM = #{rlswTm,jdbcType=INTEGER},
            RLSW_RETDESC = #{rlswRetdesc,jdbcType=VARCHAR},
            RDS_TM = #{rdsTm,jdbcType=INTEGER},
            RDS_RETDESC = #{rdsRetdesc,jdbcType=VARCHAR},
            DOORGOD_TM = #{doorgodTm,jdbcType=INTEGER},
            DOORGOD_RETDESC = #{doorgodRetdesc,jdbcType=VARCHAR},
            DOORGOD_RETCODE = #{doorgodRetcode,jdbcType=VARCHAR},
            PREPARE_TM = #{prepareTm,jdbcType=INTEGER},
            CHK_TM = #{chkTm,jdbcType=INTEGER},
            RK_IP = #{rkIp,jdbcType=VARCHAR},
            SUB_SYS = #{subSys,jdbcType=VARCHAR},
            PREPARE_RETDESC = #{prepareRetdesc,jdbcType=VARCHAR},
            RLSG_TM = #{rlsgTm,jdbcType=INTEGER},
            RGS_TM = #{rgsTm,jdbcType=INTEGER},
            RLSG_RETDESC = #{rlsgRetdesc,jdbcType=VARCHAR},
            RGS_RETDESC = #{rgsRetdesc,jdbcType=VARCHAR},
            CHK_RETDESC = #{chkRetdesc,jdbcType=VARCHAR},
            RBS_RETDESC = #{rbsRetdesc,jdbcType=VARCHAR},
            RBS_TM = #{rbsTm,jdbcType=INTEGER},
            RETCODE = #{retcode,jdbcType=VARCHAR},
            BANGSUN_TRIGERRULE = #{bangsunTrigerrule,jdbcType=VARCHAR},
            MERCHANT_RETCODE = #{merchantRetcode,jdbcType=VARCHAR},
            ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
            ORDER_TM = #{orderTm,jdbcType=TIMESTAMP},
            CURRENCY_TYPE = #{currencyType,jdbcType=VARCHAR},
            POS_TERMINAL_NO = #{posTerminalNo,jdbcType=VARCHAR},
            POS_REQUEST_NO = #{posRequestNo,jdbcType=VARCHAR},
            POS_BATCH_NO = #{posBatchNo,jdbcType=VARCHAR},
            POS_NETWORK_NO = #{posNetworkNo,jdbcType=VARCHAR},
            POS_OPERATOR = #{posOperator,jdbcType=VARCHAR},
            CARD_MATERIAL = #{cardMaterial,jdbcType=VARCHAR},
            BANK_CODE = #{bankCode,jdbcType=VARCHAR},
            TRADE_PRODUCT = #{tradeProduct,jdbcType=VARCHAR},
            OPERATE_SE_CODE = #{operateSeCode,jdbcType=VARCHAR},
            PASSWORD_TYPE = #{passwordType,jdbcType=VARCHAR},
            GOODS_CODE = #{goodsCode,jdbcType=VARCHAR},
            CT_TM = #{ctTm,jdbcType=TIMESTAMP},
            MF_TM = #{mfTm,jdbcType=TIMESTAMP},
            IF_ENCRY = #{ifEncry,jdbcType=VARCHAR},
            PAY_RESULT = #{payResult,jdbcType=VARCHAR},
            PAY_TM = #{payTm,jdbcType=TIMESTAMP},
            PAY_CD = #{payCd,jdbcType=VARCHAR},
            SYN_ERR_CD = #{synErrCd,jdbcType=VARCHAR},
            BANK_SEQ = #{bankSeq,jdbcType=VARCHAR},
            BANK_ORDERNO = #{bankOrderno,jdbcType=VARCHAR},
            FRP_CODE = #{frpCode,jdbcType=VARCHAR},
            ORIG_PAY_TID = #{origPayTid,jdbcType=VARCHAR},
            BANK_ERROR = #{bankError,jdbcType=VARCHAR},
            POSP_RESP_CODE = #{pospRespCode,jdbcType=VARCHAR},
            CORE_PLAT_OD_ST = #{corePlatOdSt,jdbcType=VARCHAR},
            BANK_MERCHANT_NO = #{bankMerchantNo,jdbcType=VARCHAR},
            ACQUIRER_BANK = #{acquirerBank,jdbcType=VARCHAR},
            BANK_PRODUCT_CODE = #{bankProductCode,jdbcType=VARCHAR},
            BANK_INTF_ID = #{bankIntfId,jdbcType=VARCHAR},
            AREA32_MSG = #{area32Msg,jdbcType=VARCHAR},
            AREA32_CODE = #{area32Code,jdbcType=VARCHAR},
            A_CT_TM = #{aCtTm,jdbcType=TIMESTAMP},
            A_MF_TM = #{aMfTm,jdbcType=TIMESTAMP},
            ETLTASKID = #{etltaskid,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>
